h3{
  padding:5%;
  font-family: "Kanit", sans-serif;
  text-decoration: underline;
}

/*Navigation Bar*/
.nav-link{
  font-family:"Kanit", sans-serif;
  font-size: 1.2rem;
  color: white;
  padding: 2rem;
  margin: 8px;
}

/*Quote*/
#quote{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style:italic;
  background-color: #FEAE6F;
  padding: 0 15% 5%;
}

/*Picture*/
#thumbnail{
  padding: 5% 15%;
  text-align: center;
  background-color: #FEAE6F;
}
.img-thumbnail{
  max-height: 400px;
}

/*Footer*/
#footer{
  background-color: #F6DCAC;
  color: black;
  font-family: "Kanit", sans-serif;
  padding: 5px 15%;
}

.feature-box{
  font-size: 30px;
  text-align: center;
}

